
<div style="background-image: url(https://i.pinimg.com/originals/21/5c/7f/215c7fdca6033092baa04b35c17466bd.gif); background-size: cover; height: 450px;">
    <div class="container" style="padding-top: 200px; display: flex; justify-content: center; align-items: center;">
        <div>
            <h1  style="color:white;">Register to get started</h1>
            <br>
            <form (submit)="redirect()">
                <div class="row">
                    <div class="col-9">                       
                        <input type="email" class="form-control" id="frontPageEmailInput" placeholder="name@example.com" name="email">
                    </div>
                    <div class="col-3">                        
                        <button class="btn btn-success" type="submit" onclick="window.location.replace('/register/' + document.getElementById('frontPageEmailInput').value)">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>   