<br>
<div style="background-color: #ecf0f1; width: 100%; padding: 10px;">
    <div style="padding: 0 5% 0;">
        <div>
            <h1>Weitere Folgen: </h1>
        </div>
        <div class="row">
            <a class="card mb-3 col-3" href="premiumplayer.html" style="padding: 0;">
                <img src="poster.jpg"  class="img-fluid rounded-start" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </a>
            <a class="card mb-3 col-3" href="player.html" style="padding: 0;">
                <img src="poster.jpg"  class="img-fluid rounded-start" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </a>
            <a class="card mb-3 col-3" href="player.html" style="padding: 0;">
                <img src="poster.jpg"  class="img-fluid rounded-start" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </a>
            <a class="card mb-3 col-3" href="player.html" style="padding: 0;">
                <img src="poster.jpg"  class="img-fluid rounded-start" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </a>
        </div>
    </div>
</div>