<div class="col-4" style="margin-top: 10px;">
<a href="">
<div class="card bg-dark text-white">
<img src="poster.jpg" class="card-img" alt="...">
<div class="card-img-overlay" style="background-color: rgba(121, 21, 21, 0.329);">
<h5 class="card-title">Result 1</h5>
<p class="card-text">Bdescription of the video</p>
</div>
</div>

<br>
<div class="col-4" style="margin-top: 10px;">
    <a href="">
    <div class="card bg-dark text-white">
    <img src="poster.jpg" class="card-img" alt="...">
    <div class="card-img-overlay" style="background-color: rgba(121, 21, 21, 0.329);">
    <h5 class="card-title">Result 3</h5>
    <p class="card-text">Bdescription of the video</p>
    </div>
    </div>

<br>

<div class="col-4" style="margin-top: 10px;">
    <a href="">
    <div class="card bg-dark text-white">
    <img src="poster.jpg" class="card-img" alt="...">
    <div class="card-img-overlay" style="background-color: rgba(121, 21, 21, 0.329);">
    <h5 class="card-title">Result 4</h5>
    <p class="card-text">Bdescription of the video</p>
    </div>
    </div>

<br>

<div class="col-4" style="margin-top: 10px;">
    <a href="">
    <div class="card bg-dark text-white">
    <img src="poster.jpg" class="card-img" alt="...">
    <div class="card-img-overlay" style="background-color: rgba(121, 21, 21, 0.329);">
    <h5 class="card-title">Result 5</h5>
    <p class="card-text">Bdescription of the video</p>
    </div>
    </div>

