<div class="container">
    <br>
    <editor
    apiKey="dp4qyxw5ckpbf2awjg2iieefji5mlsu2ev7w2p306me79h0g"
    [(ngModel)]="commentContent"
    name="commentContent"
    [init]="{
        height: 300,
        resize: false,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
        }"
    ></editor>
    <br>
    <button class="btn btn-success" type="submit" (click)="sendComment()">Send Comment</button>
    <br>
    <h1 style="text-align: center;">Kommentare & Bewertungen</h1>
    <hr>
    <ul>
        <li style="list-style: none;">
            <div class="card mb-1" style="border: none;">
                <div class="row g-0">
                    <div class="col-md-1">
                        <img src="https://cdn.slpnetwork.de/img/sys/users/Thesteev.png" class="img-fluid rounded-start" alt="..." style="border-radius: 5px;">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="list-style: none;">
            <div class="card mb-1" style="border: none;">
                <div class="row g-0">
                    <div class="col-md-1">
                        <img src="https://cdn.slpnetwork.de/img/sys/users/Thesteev.png" class="img-fluid rounded-start" alt="..." style="border-radius: 5px;">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="list-style: none;">
            <div class="card mb-1" style="border: none;">
                <div class="row g-0">
                    <div class="col-md-1">
                        <img src="https://cdn.slpnetwork.de/img/sys/users/Thesteev.png" class="img-fluid rounded-start" alt="..." style="border-radius: 5px;">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="list-style: none;">
            <div class="card mb-1" style="border: none;">
                <div class="row g-0">
                    <div class="col-md-1">
                        <img src="https://cdn.slpnetwork.de/img/sys/users/Thesteev.png" class="img-fluid rounded-start" alt="..." style="border-radius: 5px;">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="list-style: none;">
            <div class="card mb-1" style="border: none;">
                <div class="row g-0">
                    <div class="col-md-1">
                        <img src="https://cdn.slpnetwork.de/img/sys/users/Thesteev.png" class="img-fluid rounded-start" alt="..." style="border-radius: 5px;">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>                                         
    </ul>
</div>