<div class="container" id="featured-3">
    <h2 class="pb-2 border-bottom">Columns with icons</h2>
    <div class="row">
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <img src="assets/lowcost.png" alt="" width="48" height="48">
            </div>
            <h2>Mostly free</h2>
            <p>Sounds to good to be true? well it is true! Proxima.TV does not lock main content behind paywalls our premium service brings features to enhance Your experience and more special content</p>
        </div>
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <img class="bi" src="assets/desktop.png" alt="" width="48" height="48">
            </div>
            <h2>Watch where you like</h2>
            <p>We are always expanding the supported platforms proxima.tv can run on. with our website that was created to work on any devices, we introduced our first step towards true multiplatforming.</p>
        </div>
    </div>
</div>
