<div class="container">
    <div class="row">
        <div class="col-6" style="border-radius: 5px; padding: 5px;">
            <div style="padding: 0 5px 0;">
                <h1>General Profile Settings</h1>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-10">
                            <label for="formFile" class="form-label">Update Profile Picture:</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="col-1">
                            <img src="{{profile_pic}}" style="border-radius: 5px;" width="64" alt="profile-picture">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" value="{{email}}">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Profile Bio:</label>
                    <div class="input-group">
                        <textarea class="form-control" aria-label="With textarea" value="{{profile_bio}}"></textarea>
                </div>
                <button class="btn btn-success">Save</button></div>
            </div>
        </div>
        <div class="col-6" style="border-radius: 5px; padding: 5px;">
            <div style="padding: 0 5px 0;">
                <h1>Security Settings</h1>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">New Password:</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Confirm New Password:</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1">
                </div>
                <hr>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Old Password:</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1">
                </div>
                <button class="btn btn-success">Save</button>
            </div>
        </div>
        <div class="col-6">
            <br>
            <h1>Misc Settings:</h1>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Subscribe to Newsletter
                </label>
            </div>
        </div>                
        <div class="col-6">
            <br>
            <h1>Privacy Settings:</h1>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Show Profile Public
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Show Stats Public
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Show Watch History Public
                </label>
            </div>
        </div>
    </div>
</div>